${namespaces}namespace ${namespace}
{
    [Route("[controller]")]
    public class ${classname} : Controller
    {
        private readonly ILogger<${classname}> _logger;

        public ${classname}(ILogger<${classname}> logger)
        {
            _logger = logger;
        }

        public IActionResult Index()
        {
            return View();
        }${cursor}
    }
}
